<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Person List</title>
</head>
<body>
<h1>F1 Person List</h1>
<p><a href="{% url 'f1:person-add' %}">+Add Person</a></p>

<ul>
{% for person in person_list %}
    <li><a href="{% url 'f1:person-detail' person.pk %}">{{ person.name }}</a> ...
    <a href="{% url 'f1:person-change' person.pk %}">Change</a> |
    <a href="{% url 'f1:person-delete' person.pk %}">Delete</a></li>
{% empty %}
    <li>Sorry, no persons in this list.</li>
{% endfor %}
</ul>
</body>
</html>